    <meta charset="utf-8">
    <meta name="viewport" content="width=device-width, initial-scale=1">
    <meta name="author" content="Emad Heydari Beni">    
    
    <!-- Schema.org markup for Google+ 
    <meta itemprop="name" content="{{ site.data.theme.title }}">
    <meta itemprop="description" content="{{ site.data.theme.description }}">-->
    <meta itemprop="image" content="{{ site.data.theme.icon }}">
    
    <!-- Twitter Card data -->
    <!--<meta name="twitter:card" content="product">
    <meta name="twitter:site" content="@publisher_handle">-->
    <meta name="twitter:title" content="{{page.title}}">
    <meta name="twitter:description" content="{{ page.description }}">
    <meta name="twitter:creator" content="Emad Heydari Beni">
      <!--<meta name="twitter:image" content="{{ page.image | relative_url }}">-->

    
    <!-- Open Graph data -->
    <meta property="og:title" content="{{page.title}}">
    <meta property="og:type" content="article">
    <meta property="og:url" content="{{ page.url | replace:'index.html','' }}">
    <!--<meta property="og:image" content="{{ page.image | relative_url }}">-->
    <meta property="og:description" content="{{ page.description }}">
    <meta property="og:site_name" content="Heydari.be">